<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> Diana Kakoma </title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1> Diana Kakoma </h1>
        <h2>My Professional & Portfolio site!</h2>
        <a href="https://github.com/dianakakoma" class="button"><small>Visit me on </small> GitHub</a>
      </div>
    </header>
    
    
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>

        <aside id="sidebar">
          
              <h1>Tech Skills</h1>
          <h2>
          <ul>
              
              <li>GIT</li>
              <li>CSS</li>
              <li>Ruby</li>
              <li>HTML</li>
              <li>Rails</li>
              <li>Vue.js</li>
              <li>Bootstrap</li>
              <li>Javascript</li>
              <li>Pair Programming</li>
              <li>Object Oriented Programming</li>

            </ul>
          </h2>
          <h1>Most recent project</h1>
          <h2>Bug_Report</h2>
          <img src="/images/happy-ladybug.png">
          Github repository for the backend:
                    
          <!-- LinkedIn Badge -->
          <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
          <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="dianakakoma"><a class="LI-simple-link" href='https://www.linkedin.com/in/dianakakoma?trk=profile-badge'>Diana K.</a></div>
          
          <!--BLOG POSTS
          <div id="home">
            <h1>Blog Posts</h1>
            <ul class="posts">
              {% for post in site.posts %}
                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
-->
          
          <!-- <a href="#" class="button"> </a> -->
          
          <!-- 

          <p class="repo-owner"><a href="https://github.com/jasonlong/architect-theme">architect-theme</a> is maintained by <a href="https://github.com/jasonlong">jasonlong</a>.</p>

          <p class="repo-owner"><a href="https://github.com/pietromenna/jekyll-architect-theme">jekyll-architect-theme</a> is maintained by <a href="https://github.com/pietromenna">pietromenna</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
          -->
      
          
         
          
          
        </aside>
      </div>
    </div>

  </body>
</html>
